<nav class="navbar background-blue-marine py-3">
  <div class="container-fluid px-4">
    <!-- Logo Section -->
    <a class="navbar-brand d-flex align-items-center gap-3 text-decoration-none m-0" href="#">
      <div class="icon-circle d-flex align-items-center justify-content-center">
        <span class="material-icons text-white fs-3">theaters</span>
      </div>
      <div class="d-flex flex-column">
        <span class="text-white brand-title fs-4 mb-0">CINETECA</span>
        <span class="brand-subtitle mt-0">ROSALÍO SOLANO</span>
      </div>
    </a>
  </div>
</nav>
